*{margin: 0; padding: 0; box-sizing: border-box;}

.App{ padding: 20px 0; box-sizing: border-box; }
h1{text-align: center; margin-bottom: 20px; color: rgb(104, 104, 104); margin-top: 10px;}
.pd{padding: 0 20px; height: 800px;}
.movie{border:3px solid #ddd; border-radius: 10px; padding: 15px 10px; display: flex; align-items: center; margin-bottom: 5px;}
.movie-title{flex-grow: 1; padding: 0 20px;}
.movie-year{font-size: 12px; color: rgb(247, 118, 118); margin-left: 20px;}
input{width: 100%; padding: 10px 20px; box-sizing: border-box; margin-bottom: 5px;border-radius: 5px; border: 1px solid rgb(247, 118, 118); outline: none;}
.btn{width: 100%; padding: 15px 0; background:  rgb(247, 118, 118); border: none; outline: none; margin-bottom: 20px; color: #fff; border-radius: 5px;}
.d-btn{padding: 5px 20px; background: rgb(247, 118, 118); border: none; outline: none; color: #fff; border-radius: 5px;}
.err{font-size: 10px; color: rgb(247, 118, 118); margin-bottom: 5px; margin-left: 20px;}

.navbar{display: flex; justify-content: space-between; border-bottom: 1px solid #ddd; align-items: center; padding: 0 20px;}
.navbar .logo{margin-top: 0;}
.navbar .logo a{text-decoration: none; color: rgb(173, 173, 173);}
.navbar .navbar-nav{display: flex;}
.navbar .navbar-nav li{list-style: none; margin: 0 10px;}
.navbar .navbar-nav li a{color: rgb(173, 173, 173); text-decoration: none; font-weight: bold;}

.footer{width: 100%; height: auto; background: #8b8b8b; /* position: fixed; */ bottom: 0; right: 0;}
.innerFooter{color: #fff; padding: 30px; width: 100%; max-width: 1200px; margin: 0 auto; display: flex; justify-content: space-between;}
.innerFooter ul{display: flex;}
.innerFooter ul li{margin: 0 10px; list-style: none;}


.container{width: 1200px; height: inherit; background: rgba(255,255,255,.3); margin: 0 auto;}
.movieImgWrap{width: 100%; height: 600px; background: url(./movie.png) no-repeat center; background-size: contain; margin: 20px 0;}
.homeTitle{width: 100%; height: 600px; font-size: 40px; display: flex; justify-content: center; align-items: center;}

.card{border: 1px solid #ddd; padding: 30px 20px; margin-bottom: 5px; border-radius: 5px;}

@media screen and (max-width: 1200px) {
    .container{width: 100%; padding: 0 20px;}
}